.main {
    background-color: white;
    color: black;
    height: 100vw;
    line-height: 180%;

    padding-top: 50px;
    padding-inline: 20px;
}

.heading {
    margin-block: 10px;
}

.ol {
    padding-inline-start: 40px;
}

.a {
    color: var(--color-main);
    text-decoration: underline;
}